## default layout
workspace_layout tabbed

# Only initiate a tiling drag when the modifier is held:
#tiling_drag modifier

# Initiate a tiling drag on either titlebar click or held modifier:
#tiling_drag modifier titlebar

# Disable tiling drag altogether
#tiling_drag off

# flameshot
exec_always /usr/bin/flameshot 1>/dev/null 2>&1 &
bindsym Print exec --no-startup-id /usr/bin/flameshot gui

# copyq
exec_always /usr/bin/copyq 1>/dev/null 2>&1 &

# wallpaper
exec_always feh --bg-fill /xxx/spacex--p-KCm6xB9I-unsplash.jpg
